<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<% @title = "Transfert du panier" %>

<div class="section">
  <span class="section-title">Résultat du transfert</span>
  <p>Votre panier a été transféré à '<%= @store.name %>'</p>
  <% @report_notices.each do |notice| %>
    <p><%= notice %></p>
  <% end %>
</div>

<%= link_to 'Retour au panier', {:controller => 'cart'}%></td>
<%= link_to "Payer sur '#{@store.name}'", @store_logout_url %></td>
