<!-- Copyright (C) 2010 by Philippe Bourgau -->

<h1>Panier</h1>

<table>
  <% @cart.items.each do |item| %>
    <tr>
      <!-- use number_to_currency with valid settings to write the € string correctly -->
      <td><%= item.quantity%> x </td><td><%=h item.name %></td><td><%= item.price %>€</td>
    </tr>
  <% end %>
  <tr>
    <td></td><td>Total</td><td><%= @cart.total_price %>€</td>
  </tr>
</table>

