<h2>Conditions générales d'utilisation</h2>
<h3>Objet</h3>
<p>Les présentes Conditions Générales ont pour objet de définir les modalités de mise à disposition des services du site mes-courses.fr, ci-après nommé « le Service » et les conditions d'utilisation du Service par l'Utilisateur.<br />
Tout accès et/ou Utilisation du site www.mes-courses.fr suppose l'acceptation et le respect de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle. Elles constituent donc un contrat entre le Service et l'Utilisateur.<br />
Dans le cas où l'Utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du Service.</p>
<h3>Mentions légales</h3>
<p>Le site mes-courses.fr est édité par :</p>
<p>M Philippe Bourgau, <br />
14 côte de la Jonchère - 78380 Bougival<br />
Mail : philippe.bourgau@mes-courses.fr</p>
<p>Le domaine mes-courses.fr est fourni par :</p>
<p><span class="caps">OVH</span><br />
<span class="caps">SAS</span> au capital de 10 000 000,00 €<br />
<span class="caps">RCS</span> : Roubaix-Tourcoing B 424 761 419</p>
<p>Le site mes-courses.fr est hébergé par :</p>
<p>Heroku, Inc.<br />
321 11th Street<br />
San Francisco, CA</p>
<h3>Définitions</h3>
<p>- <strong>Site (mes-courses.fr)</strong> : Tout le domaine mes-courses.fr mais également le sous domaine mes-courses-beta.heroku.com<br />
- <strong>Utilisateur</strong> : L'Utilisateur est toute personne qui utilise le Site ou l'un des services proposés sur le Site.<br />
- <strong>Contenu Utilisateur</strong> : Le terme « Contenu Utilisateur » désigne les données transmises par l'Utilisateur dans les différentes rubriques du Site.<br />
- <strong>Membre</strong> : Le terme « Membre » désigne un utilisateur identifié sur le site.<br />
- <strong>Identifiant</strong> : Le terme « Identifiant » recouvre les informations nécessaires à l'identification d'un utilisateur sur le site pour accéder aux zones réservées aux membres.<br />
- <strong>Mot de passe</strong> : Le « Mot de passe » est une information confidentielle, dont l'Utilisateur doit garder le secret, lui permettant, utilisé conjointement avec son Identifiant, de prouver l'identité.</p>
<h3>Accès au service</h3>
<p>Le Service est accessible gratuitement à tout Utilisateur disposant d'un accès à internet. Tous les coûts afférents à l'accès au Service, que ce soient les frais matériels, logiciels ou d'accès à internet sont exclusivement à la charge de l'utilisateur.<br />
Il est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à internet. Certaines sections du site sont réservées aux Membres après identification à l'aide de leur Identifiant et de leur Mot de passe.<br />
mes-courses.fr se réserve le droit de refuser l'accès au Service, unilatéralement et sans notification préalable, à tout Utilisateur ne respectant pas les présentes conditions d'utilisation.<br />
M Philippe Bourgau met en oeuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité au Service, mais n'est tenu à aucune obligation d'y parvenir.<br />
M Philippe Bourgau ne peut, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait l'accès au Service. <br />
M Philippe Bourgau se réserve la possibilité d'interrompre, de suspendre momentanément ou de modifier sans préavis l'accès à tout ou partie du Service, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre droit à aucune obligation ni indemnisation.</p>
<h3>Propriété intellectuelle</h3>
<p>mes-courses.fr est une marque déposée de M Philippe Bourgau. Toute reproduction non autorisée de cette marque, logos et signes distinctifs constitue une contrefaçon passible de sanctions pénales. Le contrevenant s'expose à des sanctions civiles et pénales et notamment aux peines prévues aux articles L. 335.2 et L. 343.1 du code de la Propriété Intellectuelle.</p>
<p>L'Utilisateur est seul responsable du Contenu Utilisateur qu'il met en ligne via le Service, ainsi que des textes et/ou opinions qu'il formule. Il s'engage notamment à ce que ces données ne soient pas de nature à porter atteinte aux intérêts légitimes de tiers quels qu'ils soient. A ce titre, il garantit M Philippe Bourgau contre tous recours, fondés directement ou indirectement sur ces propos et/ou données, susceptibles d'être intentés par quiconque à l'encontre de M Philippe Bourgau. Il s'engage en particulier à prendre en charge le paiement des sommes, quelles qu'elles soient, résultant du recours d'un tiers à l'encontre de M Philippe Bourgau, y compris les honoraires d'avocat et frais de justice.</p>
<p>mes-courses.fr se réserve le droit de supprimer tout ou partie du Contenu Utilisateur, à tout moment et pour quelque raison que ce soit, sans avertissement ou justification préalable. L'Utilisateur ne pourra faire valoir aucune réclamation à ce titre.</p>
<h3>Données personnelles</h3>
<p>Dans une logique de respect de la vie privée de ses Utilisateurs, M Philippe Bourgau s'engage à ce que la collecte et le traitement d'informations personnelles, effectués au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ».</p>
<p>Conformément à l'article 34 de la loi « Informatique et Libertés », M Philippe Bourgau garantit à l'Utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. <br />
L'Utilisateur a la possibilité d'exercer ce droit en rentrant directement en contact par l'adresse suivante : philippe.bourgau@mes-courses.fr.</p>
<h3>Limites de responsabilité</h3>
<p>Le site mes-courses.fr est un site proposant une interface alternative à des supermarchés en lignes. Il contient également du contenu communautaire comme des recettes et des articles de blogs.</p>
<p>Les informations diffusées sur le site mes-courses.fr proviennent de sources réputées fiables. Toutefois, M Philippe Bourgau ne peut garantir l'exactitude ou la pertinence de ces données. En particulier, les prix, descriptions et disponibilités des produits des supermarchés en lignes affichés sur mes-courses.fr peuvent être caduques et se révéler différent après le transfert de la commande au supermarché au ligne. En outre, les informations mises à disposition sur ce site le sont uniquement à titre purement informatif et ne sauraient constituer en aucun cas un conseil ou une recommandation de quelque nature que ce soit.</p>
<p>En conséquence, l'Utilisation des informations et contenus disponibles sur l'ensemble du site, ne sauraient en aucun cas engager la responsabilité de M Philippe Bourgau, à quelque titre que ce soit. L'Utilisateur est seul maître de la bonne utilisation, avec discernement et esprit, des informations mises à sa disposition sur le Site.</p>
<p>Par ailleurs, l'Utilisateur s'engage à indemniser M Philippe Bourgau de toutes conséquences dommageables liées directement ou indirectement à l'usage qu'il fait du Service.</p>
<p>L'accès à certaines sections du site mes-courses.fr nécessite l'utilisation d'un Identifiant et d'un Mot de passe. Le Mot de passe, choisi par l'utilisateur, est personnel et confidentiel. L'utilisateur s'engage à conserver secret son mot de passe et à ne pas le divulguer sous quelque forme que ce soit. L'utilisation de son Identifiant et de son Mot de passe à travers internet se fait aux risques et périls de l'Utilisateur. Il appartient à l'Utilisateur de prendre toutes les dispositions nécessaires permettant de protéger ses propres données contre toute atteinte.</p>
<p>M Philippe Bourgau s'engage néanmoins à mettre en place tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données transmises. L'Utilisateur est informé qu'un ou plusieurs cookies, ne contenant aucune information personnelle, pourront être placés sur son disque dur afin d'assurer son identification.</p>
<p>L'Utilisateur admet connaître les limitations et contraintes propres au réseau internet et, à ce titre, reconnaît notamment l'impossibilité d'une garantie totale de la sécurisation des échanges de données. M Philippe Bourgau ne pourra pas être tenue responsable des préjudices découlant de la transmission de toute information, y compris de celle de son identifiant et/ou de son mot de passe, via le Service.</p>
<p>M Philippe Bourgau ne pourra en aucun cas, dans la limite du droit applicable, être tenue responsable des dommages et/ou préjudices, directs ou indirects, matériels ou immatériels, ou de quelque nature que ce soit, résultant d'une indisponibilité du Service ou de toute Utilisation du Service. Le terme « Utilisation » doit être entendu au sens large, c'est-à-dire tout usage du site quel qu'il soit, licite ou non.</p>
<p>L'Utilisateur s'engage, d'une manière générale, à respecter l'ensemble de la réglementation en vigueur en France.</p>
<h3>Liens hypertextes</h3>
<p>mes-courses.fr propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers.</p>
<p>Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'Utilisateur reconnaît que M Philippe Bourgau n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu.</p>
<h3>Force majeure</h3>
<p>La responsabilité de M Philippe Bourgau ne pourra être engagée en cas de force majeure ou de faits indépendants de sa volonté.</p>
<h3>Evolution du présent contrat</h3>
<p>M Philippe Bourgau se réserve le droit de modifier les termes, conditions et mentions du présent contrat à tout moment.</p>
<p>Il est ainsi conseillé à l'Utilisateur de consulter régulièrement la dernière version des Conditions d'Utilisation disponible sur le site mes-courses.fr.</p>
<h3>Durée et résiliation</h3>
<p>Le présent contrat est conclu pour une durée indéterminée à compter de l'Utilisation du Service par l'Utilisateur. <br />
Droit applicable et juridiction compétente</p>
<p>Les règles en matière de droit, applicables aux contenus et aux transmissions de données sur et autour du site, sont déterminées par la loi française. En cas de litige, n'ayant pu faire l'objet d'un accord à l'amiable, seuls les tribunaux français du ressort de la cour d'appel de Paris sont compétents.</p>
<p><em>Ce document intitulé « Conditions générales d'utilisation » pour mes-courses.fr est issu de CommentCaMarche (<a href="http://www.commentcamarche.net">www.commentcamarche.net</a>) est mis à disposition sous les termes de la licence <a href="http://www.commentcamarche.net/contents/ccmguide/ccmlicence.php3">Creative Commons</a>. Vous pouvez copier, modifier des copies de cette page, dans les conditions fixées par la licence, tant que cette note apparaît clairement.</em></p>

