/* Presentation */
li {
    font-size: 1.4em;
}
li li {
    font-size: 1em;
}

.problem {
    padding: 1em 0 0 0;
    font-weight: bold;
    color: #a0db54;
}
.highlighted {
    font-weight: bold;
    color: #993366;
}

p.status {
    color: #00AA00;
    font-weight: bold;
}

#subscription {
    padding: 5em 0 0 0;
}
#subscription * {
    margin: 0 auto;
    text-align: center;
}
#contact-details {
    margin: 1em 0;
    text-align: left;
}

#subscription input.text {
    text-align: left;
    width: 20em;
}

