<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<%
@path_bar = [PathBar.element_for_current_resource('Recettes')]
%>

<table>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%=h dish.name %></td>
      <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_dish', :id => dish.id }%></td>
    </tr>
  <% end%>
</table>

<p><%= link_to 'Ajouter une recette', :action => 'new' %></p>
