<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<!-- This page is mostly a mock up -->

<% @title = "Plats" %>

<div class="section results">
  <span class="section-title">Suggestions</span>
  <table>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%=h dish.name %></td>
        <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_dish', :id => dish.id }%></td>
      </tr>
    <% end%>
  </table>
</div>
