<!-- Copyright (C) 2010 by Philippe Bourgau -->

<% @title = "Plats" %>

<table>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%=h dish.name %></td>
      <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_dish_to_cart', :id => dish.id }%></td>
    </tr>
  <% end%>
</table>

