<div id="subscription" class="sidebar-section">
  <h2>Souscrivez à notre blog</h2>

<!-- Begin MailChimp Signup Form -->
<form action="http://mes-courses.us7.list-manage1.com/subscribe/post?u=21b4c53b22ce409e965cd1e9a&amp;id=2b1ec8cc45" method="post" target="_blank" novalidate>
  <p>Par <a href="/blog/posts.rss">RSS</a> ou par email (via <a href="http://www.mailchimp.com" target="_blank">MailChimp</a> ) :</p>
  <p>
    <input type="email" value="" name="EMAIL" class="email-field" />
    <input type="submit" value="Souscrire" name="subscribe" />
  </p>
</form>
<!--End mc_embed_signup-->

</div>
