      </div>
    <div id="footer-placeholder"></div>
    </div>

    <div id="footer">
      <div class="bottom2"></div>
      <div class="bottom1"></div>
      <div class="bottom0">
        <ul id="footer-items">
          <li><a href="http://fr-fr.facebook.com/pages/mes-coursesfr/161885317188907">Facebook</a>
          <li> - </li>
          <li><a href="http://twitter.com/#!/mescoursesfr">Twitter</a>
          <li> - </li>
          <li><a href="/features">Fonctionalités</a>
          <li> - </li>
          <li><a href="http://www.mes-courses.fr/cgu" onclick="_gaq.push(['_link', 'http://www.mes-courses.fr/cgu']); return false;">CGU</a></li>
          <li> - </li>
          <li>Copyright (c) 2010 - 2012</li>
        </ul>
      </div>
    </div>

