<h2>Accueil</h2>

<ul>
  <li><a href="/agenda">Agenda des repas</a></li>
  <li><a href="/dish">Rechercher un plats</a></li>
  <li><a href="/item_category">Bibliothéque des produits</a></li>
  <li><a href="/cart">Panier</a></li>
  <li><a href="/preferences">Préférences d'achat</a></li>
</ul>
