<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <r:snippet name="html-head" />

  <body id="blog" class="single">

    <r:snippet name="blog-body">

        <div class="blog-post">
          <h2><r:title /></h2>
          <div id="main-content">
            <r:content />
          </div>
          <r:if_content part="extended">
            <div id="extended">
              <r:content part="extended" />
            </div>
          </r:if_content>
          <p class="author">Posté par <r:author /> le <r:date format="%d/%m/%Y" /></p>
          <div id="social-toolbar">
            <ul>
              <li id="like-button">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://www.mes-courses.fr<r:url />" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
              </li>
              <li id="tweeter-button">
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mescoursesfr" data-lang="fr">Tweet</a>
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
              </li>
              <li id="email-button">
                <a id="email-button-link" href="mailto:?subject=<r:title />&body=http://www.mes-courses.fr<r:url />">email</a>
              </li>
            </ul>
          </div>
          <p>Catégories : <r:tag_list /></p>
          <p>A voir également :</p>
          <ul>
              <r:related_by_tags>
                <li><r:link /></li>
              </r:related_by_tags>
          </ul>


          <div id="comments">
            <r:snippet name="comments" />
          </div>

        </div>

    </r:snippet>

  </body>
</html>
