<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <r:snippet name="html-head" />

  <body id="blog" class="single">

    <r:snippet name="html-body">

      <div class="blog-post">
        <h2><r:title /></h2>
        <div id="main-content">
          <r:content />
        </div>
        <r:if_content part="extended">
          <div id="extended">
            <r:content part="extended" />
          </div>
        </r:if_content>
        <p class="author">Posté par <r:author /> le <r:date format="%d/%m/%Y" /></p>

        <div id="comments">
          <r:snippet name="comments" />
        </div>

      </div>

    </r:snippet>

  </body>
</html>
