<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <r:snippet name="html-head" />

  <body id="presentation" >
    <r:snippet name="html-body">
      <ul id="problems">
        <li class="problem">« Mes courses me prennent <span class="highlighted">trop de temps</span> ! »</li>
        <li class="problem">« J'ai du mal de <span class="highlighted">concevoir des menus</span> adaptés jour aprés jour... »</li>
        <li class="problem">« Je n'ai pas confiance dans la <span class="highlighted">qualité</span> de ce que je vais recevoir si je commande par internet. »</li>
      </ul>

      <div id="subscription">
        <r:content />
      </div>

    </r:snippet>
  </body>
</html>

