<!-- Copyright (C) 2013 by Philippe Bourgau -->

<p>Votre panier a été transféré à '<%=h @order.store.name %>'</p>
<% unless @order.warning_notices.empty? %>
  <div class="warning">
       <% @order.warning_notices.each do |notice| %>
         <p><%=h notice %></p>
       <% end %>
  </div>
<% end %>

<p>Connectez-vous sur <%= @order.store_name %> pour payer</p>
<%= @order.store_login_form_html(@store_credentials) %>

