<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<p>Votre panier a été transféré à '<%=h @order.store.name %>'</p>
<% unless @order.warning_notices.empty? %>
  <div class="notice">
       <% @order.warning_notices.each do |notice| %>
         <p><%=h notice %></p>
       <% end %>
  </div>
<% end %>

<%= button_to h("Payer sur #{@order.store.name}"), @order.remote_store_order_url, :id => 'go-to-payment' %>

<!-- should be removed with navigation bar -->
<p><%= link_to 'Retour au panier', {:controller => 'cart_lines'}%></p>
