<!-- Copyright (C) 2010, 2011, 2012, 2013 by Philippe Bourgau -->

<p>Votre panier a été transféré à '<%=h @order.store.name %>'</p>
<% unless @order.warning_notices.empty? %>
  <div class="warning">
       <% @order.warning_notices.each do |notice| %>
         <p><%=h notice %></p>
       <% end %>
  </div>
<% end %>

<p><%= link_to h("Aller vous connecter sur #{@order.store.name} pour payer"), @order.store.sponsored_url, :id => "go-to-payment", :target => "_blank" %></p>

<iframe id="remote-store-iframe" src=<%= https_url(@order.store.logout_url) %> >

