<!--Copyright (C) 2011 by Philippe Bourgau-->

<!-- This page is a mock up -->

<% @title = "Préférences" %>

<div class="section products">
  <span class="section-title">Produits</span>
  <table class="tree">
    <tr>
      <td>Produits</td>
      <td>Fournisseurs</td>
      <td>Livraison</td>
      <td>Avis</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tous</td>
      <td><a href="modify" title="Modifier">www.auchandirect.fr</a></td>
      <td><a href="modify" title="Modifier">Drive-in</a></td>
      <td><a href="modify" title="Voir les avis">4/5 (47 avis)</a></td>
      <td><a href="add-child" title="Ajouter un cas particulier">+</a></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="tree-child"></span>&gt; <a href="modify" title="Modifier">Puericulture</a></td>
      <td><a href="modify" title="Modifier">www.leclerc.fr</a></td>
      <td><a href="modify" title="Modifier">A domicile</a></td>
      <td><a href="modify" title="Voir les avis">4/5 (29 avis)</a></td>
      <td><a href="add-child" title="Ajouter un cas particulier">+</a></td>
      <td><a href="delete" title="Supprimer">X</a></td>
    </tr>
    <tr>
      <td><span class="tree-child"></span>&gt; <a href="modify" title="Modifier">Frais</a></td>
      <td><a href="modify" title="Modifier">www.mon-marché.fr</a></td>
      <td><a href="modify" title="Modifier">Au travail, tous les 2 jours</a></td>
      <td><a href="modify" title="Voir les avis">5/5 (33 avis)</a></td>
      <td><a href="add-child" title="Ajouter un cas particulier">+</a></td>
      <td><a href="delete" title="Supprimer">X</a></td>
    </tr>
    <tr>
      <td><span class="tree-spacer"></span><span class="tree-child"></span>&gt; <a href="modify" title="Modifier">Fruits et légumes</a></td>
      <td>
        <select>
          <option>Boutique de proximité</option>
          <option>www.mon-marché.fr</option>
          <option>www.leclerc.fr</option>
          <option>www.auchandirect.fr</option>
        </select>
      </td>
      <td></td>
      <td></td>
      <td><a href="add-child" title="Ajouter un cas particulier">+</a></td>
      <td><a href="delete" title="Supprimer">X</a></td>
    </tr>
  </table>
</div>


