<!-- Copyright (C) 2010, 2011, 2012 by Philippe Bourgau -->

<table>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%= link_to h(dish.name), dish_path(dish) %></td>
      <td class="buy-button"><%= button_to 'Ajouter au panier', add_dish_to_cart_lines_path(dish) %></td>
    </tr>
  <% end %>
  <%= "@can_modify_dishes = #{@can_modifiy_dishes.inspect}" %>
  <% if @can_modify_dishes %>
    <tr>
      <td>
        <%= link_to 'Ajouter une recette', new_dish_path %>
      </td>
    </tr>
  <% end %>
</table>

