<!-- Copyright (C) 2010, 2011, 2012 by Philippe Bourgau -->

<table id="dish-panel">
  <% @dishes.each do |dish| %>
    <tr>
      <td><%= link_to h(dish.name), dish_path(dish) %></td>
      <td class="buy-button"><%= button_to_add_dish(dish) %></td>
    </tr>
  <% end %>
  <% if @can_modify_dishes %>
    <tr>
      <td>
        <%= link_to 'Ajouter une recette', new_dish_path %>
      </td>
    </tr>
  <% end %>
</table>

