<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<% extra_columns_proc = lambda do |item| %>
  <td><%= button_to 'Enlever de la recette', dish_item_path(@dish, item), :method => 'delete', :confirm => 'Cet ingrédient sera supprimé de la recette.' %></td>
<% end %>

<% render(:layout => "shared/items", :object => @dish.items, :locals => { :extra_columns_proc => extra_columns_proc }) do %>
  <tr>
    <td>
      <%= link_to 'Ajouter un ingrédient', dish_item_categories_path(@dish) %>
    </td>
  </tr>
<% end %>
