<!-- Copyright (C) 2010, 2011, 2012 by Philippe Bourgau -->

<% extra_columns_proc = lambda do |item| %>
  <% if @can_modify_dishes %>
    <td><%= button_to 'Enlever de la recette', dish_item_path(@dish, item), :method => 'delete', :confirm => 'Cet ingrédient sera supprimé de la recette.' %></td>
  <% end %>
<% end %>

<%= render(:layout => "shared/items", :object => @dish.items, :locals => { :extra_columns_proc => extra_columns_proc }) do %>
  <% if @can_modify_dishes %>
    <tr>
      <td>
        <%= link_to 'Ajouter un ingrédient', dish_item_categories_path(@dish) %>
      </td>
    </tr>
  <% end %>
<% end %>
