<h1><%= @item_sub_type.name %></h1>

<table>
  <% @item_sub_type.items.each do |item| %>
    <tr>
      <td>
	<div><%=h item.name %></div>
	<div><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_item_to_cart', :id => item.id }%></div>
      </td>
    </tr>
  <% end%>
</table>

