<h1>Produits</h1>

<table>
  <% @items.each do |item| %>
    <tr>
      <td>
	<div><%=h item.name %></div>
	<div><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_to_cart', :id => item.id }%></div>
      </td>
    </tr>
  <% end%>
</table>

