<!-- Copyright (C) 2010 by Philippe Bourgau -->

<h1>Produits par familles</h1>

<table>
  <% @item_categories.each do |category| %>
    <tr>
      <td>
	<div><%= link_to category.name, item_category_path(category) %></div>
      </td>
    </tr>
  <% end%>
</table>
