/*
*= require common
*/

/* Store tables */
.buy-button * {
    text-align: right;
}

table img {
    height: 50px;
}

/* Store general */
div.section {
    border: 1px solid #a0db54;
    padding: 1em;
    margin: 2px;
}
div.section + div.section {
    margin-top: 20px;
}
div.section > * {
    position: relative;
    top: -1.4em;
}
div.section .section-title {
    color: #a0db54;
    font-size: 1.8em;
    left: 10px;
    padding: 0 0.5em;
    background: white;
}
div.section p {
    margin: 1em;
}

/* Store path bar */
#path-bar {
    margin-bottom: 20px;
}
#path-bar * {
    font-size: 1.4em;
}

/* search panel */
#search {
    width: 70em;
    margin: 2em auto;
}
#categories-panel + #items-panel {
    margin-top: 2em;
}

/* Forward report */
#go-to-payment {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 1em 0;
}
iframe.remote-store-iframe {
    display: none;
}
