<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <r:snippet name="html-head" />

  <body id="presentation" >
    <r:snippet name="html-body">
      <ul id="problems">
        <li class="problem">Chaque semaine, c'est la même galère :</li>
        <ul>
          <li>Vous ne trouvez plus d'idées pour concevoir des menus simples, variés et équilibrés ?</li>
          <li>Vous courez après le temps pour effectuer vos courses ?</li>
          <li>Vous retombez malgrè tout dans la monotonie ?</li>
        </ul>
        <li class="problem">Alors, vous avez essayé les courses par internet ... </li>
        <ul>
          <li>Vous n'avez toujours pas plus d'idées de menus ?</li>
          <li>Vous passez un temps fou à élaborer votre liste ?</li>
          <li>Vous doutez de la qualité et de la provenance des produits que vous recevrez ?</li>
        </ul>
        <li class="problem">Vous vous reconnaissez dans ces problèmes ? Nous Aussi !</li>
        <ul>
          <li>Mes-Courses.fr nous apportera enfin une solution simple, efficace et rapide, et En seulement 3 Clics!</li>
        </ul>
      </ul>
      <div id="subscription">
        <r:content />
      </div>

    </r:snippet>
  </body>
</html>

