<!-- Copyright (C) 2010 by Philippe Bourgau -->

<h1><%= @item_type.name %></h1>

<table>
  <% @item_type.item_sub_types.each do |item_sub_type| %>
    <tr>
      <td>
	<div><%= link_to item_sub_type.name, item_sub_type_path(item_sub_type) %></div>
      </td>
    </tr>
  <% end%>
</table>
