<div>
  <ul>
    <li>Achat des produits du site <a href="http://www.auchandirect.fr">www.auchandirect.fr</a></li>
    <li>Achat rapide par recette ou par lot</li>
    <li>Remplissage automatique de votre panier <a href="http://www.auchandirect.fr">www.auchandirect.fr</a></li>
  </ul>
</div>