<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="liste de, courses, en ligne, automatiques, faciles, rapides, recettes, plats, guide de cuisine, partage, idée repas" />
    <meta name="description" content="Boutique d'alimentation en ligne intelligente" />
    <meta name="Revisit-After" content="30 Days" />
    <meta name="robots" content="all,index" />
    <meta name="author" content="<r:author /> for www.Mes-Courses.fr" />

    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css" media="screen" title="main stylesheet"/>

    <title>www.mes-courses.fr/store - Boutique</title>
  </head>

  <body id="store" >
    <%= render(:partial => "shared/html_body_header") %>

    <%= yield :layout %>

    <%= render(:partial => "shared/html_body_footer") %>
  </body>

</html>
